In [1]:
import numpy as np
import pandas as pd

In [27]:
df=pd.read_csv(r"C:\Users\SIDDHARTHA\Downloads\searched_with_top-queries_IN_20210224-1120_20260224-1120.csv")
df

                          query  search interest increase percent
0                            ev              100              80%
1                          tata               27              10%
2                       tata ev               25              50%
3                  electric car               20             -30%
4                         nexon               14             -30%
5                      nexon ev               14             -20%
6                        ev car               13             100%
7                 tata ev price               11              60%
8              electric vehicle                9             -60%
9                    tata nexon                8             -40%
10           electric car price                8             -20%
11                        mg ev                8             -20%
12                tata nexon ev                7             -30%
13                  nexon price                7             -20%
14                      ev cars                7              80%
15                     tiago ev                6             500%
16                electric cars                6             -30%
17               nexon ev price                6             -20%
18            electric vehicles                6             -70%
19                   ev scooter                6             500%
20                     punch ev                5         Breakout
21        electric car in india                4             -50%
22             tata nexon price                4             -20%
23                   tata tiago                4             180%
24            tata electric car                4             -60%
25                  tata ev car                4              50%
26                tata tiago ev                4             450%
27                  mahindra ev                4             200%
28          tata nexon ev price                4             -20%
29               tiago ev price                4             600%
30             ev cars in india                3              50%
31                      ev bike                3             250%
32                     tigor ev                3             -10%
33       electric cars in india                3             -50%
34                   tata punch                3         Breakout
35                tata punch ev                3         Breakout
36             electric scooter                3             -40%
37                     comet ev                3         Breakout
38  electric car price in india                3             -50%
39              mg electric car                2              -9%
40                        zs ev                2             -70%
41                      hyundai                2             -50%
42                    tata cars                2             -10%
43               punch ev price                2         Breakout
44      tata electric car price                2             -40%
45                   ev charger                2              60%
46            tata ev car price                2              50%
47                   tata tigor                2             -40%
48                      nano ev                2           1,150%
49                     mg comet                2         Breakout

In [35]:
df.head

<bound method NDFrame.head of                           query  search interest increase percent
0                            ev              100              80%
1                          tata               27              10%
2                       tata ev               25              50%
3                  electric car               20             -30%
4                         nexon               14             -30%
5                      nexon ev               14             -20%
6                        ev car               13             100%
7                 tata ev price               11              60%
8              electric vehicle                9             -60%
9                    tata nexon                8             -40%
10           electric car price                8             -20%
11                        mg ev                8             -20%
12                tata nexon ev                7             -30%
13                  nexon price                7             -20%
14                      ev cars                7              80%
15                     tiago ev                6             500%
16                electric cars                6             -30%
17               nexon ev price                6             -20%
18            electric vehicles                6             -70%
19                   ev scooter                6             500%
20                     punch ev                5         Breakout
21        electric car in india                4             -50%
22             tata nexon price                4             -20%
23                   tata tiago                4             180%
24            tata electric car                4             -60%
25                  tata ev car                4              50%
26                tata tiago ev                4             450%
27                  mahindra ev                4             200%
28          tata nexon ev price                4             -20%
29               tiago ev price                4             600%
30             ev cars in india                3              50%
31                      ev bike                3             250%
32                     tigor ev                3             -10%
33       electric cars in india                3             -50%
34                   tata punch                3         Breakout
35                tata punch ev                3         Breakout
36             electric scooter                3             -40%
37                     comet ev                3         Breakout
38  electric car price in india                3             -50%
39              mg electric car                2              -9%
40                        zs ev                2             -70%
41                      hyundai                2             -50%
42                    tata cars                2             -10%
43               punch ev price                2         Breakout
44      tata electric car price                2             -40%
45                   ev charger                2              60%
46            tata ev car price                2              50%
47                   tata tigor                2             -40%
48                      nano ev                2           1,150%
49                     mg comet                2         Breakout>

In [41]:
# Remove rows containing null values
df = df.dropna()

In [43]:
df.duplicated().sum()

np.int64(0)

In [58]:
df.duplicated().sum()
df = df.drop_duplicates()

In [70]:
df=pd.read_csv(r"C:\Users\SIDDHARTHA\Downloads\geoMap.csv")
df

                                                Category: All categories
Region                       Electric vehicle: (24/02/2021 - 24/02/2026)
Goa                                                                  100
Karnataka                                                             76
Haryana                                                               73
Gujarat                                                               73
Kerala                                                                73
Telangana                                                             72
Maharashtra                                                           64
Delhi                                                                 63
Daman and Diu                                                         61
Tamil Nadu                                                            61
Odisha                                                                59
Rajasthan                                                             56
Dadra and Nagar Haveli                                                54
Chandigarh                                                            54
Puducherry                                                            53
Andhra Pradesh                                                        51
Chhattisgarh                                                          51
Uttarakhand                                                           42
Madhya Pradesh                                                        42
Punjab                                                                42
Jharkhand                                                             40
Uttar Pradesh                                                         39
Andaman and Nicobar Islands                                           37
Himachal Pradesh                                                      35
Jammu & Kashmir                                                       34
West Bengal                                                           33
Assam                                                                 31
Tripura                                                               28
Bihar                                                                 27
Manipur                                                               25
Sikkim                                                                24
Arunachal Pradesh                                                     22
Meghalaya                                                             21
Nagaland                                                              18
Mizoram                                                               15
Lakshadweep                                                          NaN

In [72]:
# Remove rows containing null values
df = df.dropna()

In [74]:
df.duplicated().sum()

np.int64(7)

In [75]:
df.duplicated().sum()
df = df.drop_duplicates()